@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main {
  max-width: 480px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  background-color: #128c7e;
  font-size: 3.5rem;
  margin-top: 7rem;
}

input {
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 10px;
  background-color: #f2f2f2;
  width: 20rem;
  height: 2rem;
}

button {
  margin-top: 20px;
  font-size: 17px;
  background-color: #128c7e;
  color: white;
  padding: 10px;
  border-radius: 1px;
  border: 1px solid #fff;
  cursor: pointer;
}
